@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

body {
  font-size: 18px;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
}

#app_root {
  min-height: 100vh;
}

body:before,
body:after {
  content: '';
  position: fixed;
  background: #000;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 10;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}



/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.title {
  text-wrap: balance;
}
